<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/dashbstyle.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

</head>

<body>
  <%- include('./partials/nav_menu.ejs') %>

  <!--========== Home Content ==========-->
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Scans</div>
          <div class="number">40,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Vulnerability found</div>
          <div class="number">20,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bxs-cart-add cart two'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Safe websites</div>
          <div class="number">19,086</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart cart three'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Satisfied customers</div>
          <div class="number">11,086</div>
          <div class="indicator">
            <i class='bx bx-down-arrow-alt down'></i>
            <span class="text">Down From Today</span>
          </div>
        </div>
        <i class='bx bxs-cart-download cart four'></i>
      </div>
    </div>

    <!--========== Sales Box ==========-->
    <div class="sales-boxes">
      <div class="recent-sales box" height="400">
        <div class="title mb-3">Recent Scans</div>
        <div class="sales-details mb-2">
          <table class="table table-sm table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">Scan Name</th>
                <th scope="col">Date</th>
                <th scope="col">Website URLs</th>
                <th scope="col">Scan Type</th>
              </tr>
            </thead>
            <tbody>
              <% scans.forEach(scan => { %>
              <tr>
                <td><%= scan.scanname %></td>
                <td><%= scan.createdAt.toDateString() %></td>
                <td><%= scan.url %></td>
                <td><%= scan.scantype %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <div class="button">
          <a href="/analysis">See All</a>
        </div>
      </div>

      <!--========== Top Sales ==========-->

      <div class="top-sales box h-25 overflow-hidden">
        <div class="title">Suggestions</div>
        <marquee height="400" direction="up" scrollamount="3">
          <h4>Prevent an SQL Injection</h4>
          <ul>
            <li>The best possible way to prevent SQL Injection attacks is input validation and parametrized queries including prepared statements. </li>
            <li>The application code should never use the input directly.</li>
            <li>The developer must sanitize all input, not only web form inputs such as login forms.</li>
            <li>They must remove potential malicious code elements such as single quotes.</li>
            <li>It is also turn off the visibility of database errors on production sites. </li>
            <li>Database errors can be used with SQL Injection to gain information about your database.</li>
          </ul>

          <h4>Prevent a Broken authentication</h4>
          <ul>
            <li>Where possible, implement multi-factor authentication to prevent automated, credential stuffing, brute force, and stolen credential re-use attacks.</li>
            <li>Do not ship or deploy with any default credentials, particularly for admin users. </li>
            <li>Ensure registration, credential recovery, and API pathways are hardened against account enumeration attacks by using the same messages for all outcomes.</li>
            <li>Limit or increasingly delay failed login attempts.</li>
            <li>Log all failures and alert administrators when credential stuffing, brute force, or other attacks are detected.</li>
          </ul>

          <h4>Prevention of IDOR Vulnerability</h4>
          <ul>
            <li>Developers should avoid displaying private object references such as keys or file names.</li>
            <li>Validation of Parameters should be properly implemented.</li>
            <li>Verification of all the Referenced objects should be done.</li>
            <li>Tokens should be generated in such a way that it should only be mapped to the user and should not be public.</li>
          </ul>

          <h4>Prevent Security Misconfiguration</h4>
          <ul>
            <li>Disable administration interfaces.</li>
            <li>Disable debugging.</li>
            <li>Disable use of default accounts/passwords.</li>
            <li>Configure server to prevent unauthorized access, directory listing, etc.</li>
            <li>Consider running scans and doing audits periodically to help detect future misconfigurations or missing patches.</li>
          </ul>

        </marquee>
      </div>
    </div>
  </div>
  </section>

  <script>
    sidebaar = document.querySelector(".sidebaar");
    sidebaarBtn = document.querySelector(".sidebaarBtn");
    sidebaarBtn.onclick = function() {
      sidebaar.classList.toggle("active");
      if (sidebaar.classList.contains("active")) {
        sidebaarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebaarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }


    var marquee = document.getElementsByTagName('marquee')[0]
    marquee.onmouseover = function() {
      marquee.stop();
    }
    marquee.onmouseout = function() {
      marquee.start();
    }
  </script>

</body>

</html>